<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
		<title>Home</title>	
	</head>
	<body>
		<nav th:replace="common/header.html :: nav"></nav>
		<br>
		<br>
		<div class="container">
	  		<h2>Online Banking System</h2>		
	    
	    	<div sec:authorize="isAuthenticated()">
			    Welcome, <span sec:authentication="name">Username</span>     
			</div>
		
	 	</div>
		
	</body>
	
</html>
